vr_terasample on nodered
[{"id":"15d119e3.42977e","type":"http in","z":"c6eee2d3.5394e8","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":145.1999969482422,"y":90.19999694824219,"wires":[["a7ebcd66.cda69"]]},{"id":"b09c8d4b.40c26","type":"http response","z":"c6eee2d3.5394e8","name":"","x":508.19996643066406,"y":153.69996643066406,"wires":[]},{"id":"8aa94abe.989ef","type":"http in","z":"c6eee2d3.5394e8","name":"","url":"/recognize","method":"post","swaggerDoc":"","x":131.1999969482422,"y":231.1999969482422,"wires":[["7e959c05.5bc754"]]},{"id":"7e959c05.5bc754","type":"function","z":"c6eee2d3.5394e8","name":"URL抽出","func":"msg.payload = msg.payload.imageurl;\nreturn msg;\n","outputs":1,"noerr":0,"x":315.1999969482422,"y":253.6999969482422,"wires":[["a3a55a73.f74688"]]},{"id":"949cd75e.740fc8","type":"template","z":"c6eee2d3.5394e8","name":"結果画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n <head>\n <title>Watson Visual Recognition</title>\n </head>\n <body>\n <h1>Node-RED Watson VisualRecognition Classify 認識結果</h1>\n {{^result}}\n <br/><font size=\"+2\" color=\"red\">No data</font>\n {{/result}}\n {{#result}}\n {{#images}}\n <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n <img src=\"{{source_url}}\" height='50%'/>\n <table border='1'>\n <thead><tr><th>分類</th><th>スコア(一致度)</th></tr></thead>\n <tbody>\n {{#classifiers}}\n {{#classes}}\n <tr>\n <td><b>{{class}}</b></td><td><i>{{score}}</i></td>\n </tr>\n {{/classes}}\n {{/classifiers}}\n </tbody>\n </table>\n {{/images}}\n {{/result}}\n <hr/>\n <form action=\"{{req._parsedUrl.pathname}}\">\n <input type=\"submit\" value=\"もう一度解析\"/>\n </form>\n </body>\n</html>\n","x":665.9665985107422,"y":331.59999084472656,"wires":[["e7df51d7.b42c18"]]},{"id":"e7df51d7.b42c18","type":"http response","z":"c6eee2d3.5394e8","name":"","x":841.9665985107422,"y":385.38331604003906,"wires":[]},{"id":"a3a55a73.f74688","type":"visual-recognition-v3","z":"c6eee2d3.5394e8","name":"","apikey":"","image-feature":"classifyImage","lang":"ja","x":489.1999969482422,"y":295.6999969482422,"wires":[["949cd75e.740fc8"]]},{"id":"a7ebcd66.cda69","type":"template","z":"c6eee2d3.5394e8","name":"入力画面","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Watson Visual Recognition</title>\n</head>\n<body>\n<h1>Watson Visual Recognition API で画像解析！</h1>\n<H2>どんな写真のイメージタグを取得しますか。</H2>\n<h2>画像のURLを入力してください。</h2>\n <img src=\"https://arb.rt.com/media/pics/2016.03/original/56f1765bc461882c538b45cf.jpg\" height='200'/>\n <img src=\"http://image.itmedia.co.jp/nl/articles/1301/25/mmi_yahuoku_01.jpg\" height='200'/>\n <img src=\"http://s.eximg.jp/exnews/feed/Excite/bit/2014/E1401621045547_6196_3.jpg\" height='200'/>\n <img src=\"https://d2jpzphjpce52c.cloudfront.net/system/production/image/image/000/037/041/37041/wysiwyg_d7f43fe1ba5d6de3085b.jpg\" height='200'/>\n <br/>\n <br/>\n 上記の画像をドラッグ&ドロップするか、新規に写真イメージのURLを入力してください。<br/>\n <br/>\n<form action=\"/recognize\" method=\"POST\">\n画像のURL：<input type=\"text\" name=\"imageurl\">\n<input type=\"submit\" value=\"解析！\">\n</form>\n</body>\n</html>","x":324.1999969482422,"y":123.23329162597656,"wires":[["b09c8d4b.40c26"]]}]